body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: gray;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.769);
    height: 100vh;
    width: 100vw;
}

.calculator{
    border: none;
    height: 600px;
    width: 400px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.832);
    box-shadow: inset 30px 30px 30px rgb(255, 255, 255);
    box-shadow: 20px 60px 60px rgba(0, 0, 0, 0.631);
}

input{
    grid-column: span 4;
    height: 100px;
    font-size: 4em;
    text-align: right;
    border-radius: 20px;
    border: none;
}
 .clear{
    grid-column: span 2;
    background-color: orange;
    color: white;
 }

.delete{
    grid-column: span 2;
    background-color: orange;
    color: white;
}

button{
    font-size: 2em;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: rgb(101, 100, 100);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.667);
}

button:hover{
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    transition: background-color 1s;
}

.operator{
    background-color: rgb(66, 65, 65);
    color: white;
}

footer {
    margin-top: 20px;
    color: rgb(244, 143, 66);
    font-size: 1em;
}