body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.calculator{
    border: 1px solid black;
    height: 600px;
    width: 400px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

input{
    grid-column: span 4;
    height: 100px;
    font-size: 4em;
    text-align: right;
}
 .clear{
    grid-column: span 2;
 }

.delete{
    grid-column: span 2;
}

